@model GeneralPage

<main>
    some example content for @Model.Name

    <div>
        @Html.PropertyFor(x => Model.Body)
    </div>

    <div >
        @Html.PropertyFor(x => x.BottomContentArea);
    </div>
</main>