@model PageViewModel
<!DOCTYPE html>
<html lang="en">
    <partial name="~/Views/Shared/_HeaderIncludes.cshtml" model="Model"/>

    <body class="">
        <partial name="~/Views/Shared/_Header.cshtml" />
        @RenderBody()
        <partial name="~/Views/Shared/_Footer.cshtml" />
    </body>
</html>